<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP</title>
</head>
<body>
    <div>
        <form action="/albergues" method="POST">
            <div class="form-group">
                <input type="text" name="1" placeholder="Albergue" class="form-control" />
            </div>
            <div class="form-group">
                <input type="text" name="2" placeholder="Ciudad" class="form-control" />
            </div>
            <div class="form-group">
                <input type="text" name="3" placeholder="Direccion" class="form-control" />
            </div>
            <div class="form-group">
                <input type="number" name="4" placeholder="Telefono" class="form-control" />
            </div>
            <div class="form-group">
                <input type="text" name="5" placeholder="Disponibilidad" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Save</button>
            </div>

        </form>
    </div>

    <h1>Albergues</h1>
    <a href=""></a>
    <table>
        <thead>
            <tr>
                <td>Albergue</td>
                <td>Ciudad</td>
                <td>Direccion</td>
                <td>Telefono</td>
                <td>Disponibilidad</td>
            </tr>
        </thead>
        <tbody>
            {% for a in als %}
            <tr>
                <td>{{a.1}}</td>
                <td>{{a.2}}</td>
                <td>{{a.3}}</td>
                <td>{{a.4}}</td>
                <td>{{a.5}}</td>
                <td><a href="/eliminaralbergue/{{a.0}}"><button>Eliminar</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        <form action="/desahuciados" method="POST">
            <div class="form-group">
                <input type="text" name="1" placeholder="Nombre" class="form-control" />
            </div>
            <div class="form-group">
                <input type="text" name="2" placeholder="Ciudad" class="form-control" />
            </div>
            <div class="form-group">
                <input type="number" name="3" placeholder="Telefono" class="form-control" />
            </div>
            <div class="form-group">
                <input type="number" name="4" placeholder="Edad" class="form-control" />
            </div>
            <div class="form-group">
                <input type="text" name="5" placeholder="Distrito" class="form-control" />
            </div>
            <div class="form-group">
                <input type="text" name="6" placeholder="Sexo" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Save</button>
            </div>

        </form>
    </div>

    <h1>Desahuciados</h1>
    
    <table>
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Ciudad</td>
                <td>Telefono</td>
                <td>Edad</td>
                <td>Distrito</td>
                <td>Sexo</td>
            </tr>
        </thead>
        <tbody>
            {% for d in ds %}
            <tr>
                <td>{{d.1}}</td>
                <td>{{d.2}}</td>
                <td>{{d.3}}</td>
                <td>{{d.4}}</td>
                <td>{{d.5}}</td>
                <td>{{d.6}}</td>
                <td><a href="/eliminardesahuciado/{{d.0}}"><button>Eliminar</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
</body>
</html>